.project {
  /*width: 49.8%;*/
  display:inline-block;
}

.description {
  font-size: 2vh;
}

.middles {
  padding-left: 30%;
  
}

.panel {
  width: 100%;
}

.navbar {
  background: #5f4687;
  color: white;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}